<%- include('partials/header.ejs');%>

<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">
            <%- include('partials/navbar.ejs');%>
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 text-white mx-auto">Background image can be fixed. Content will simply slide over.</p>                	
				</div>                
            </div>

			<!-- Header image -->
            <div id="tm-fixed-header-bg"></div> 
		</div>

		<!-- Page content -->
		<div class="container-fluid">
			<div class="mx-auto tm-content-container">
				<main>
					<div class="row mb-5 pb-4">
                        <% for(photo of AllPhoto){ %>
                            <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                                <div class="position-relative tm-thumbnail-container">
                                    <img src="<%=photo.url?photo.url:'https://dummyimage.com/1920X1280.png/ccc/000&text=NO IMAGE' %>" alt="Image" class="img-fluid tm-catalog-item-img">    
                                    <a href="/photos/read-more?id=<%=photo._id%>" class="position-absolute tm-img-overlay">
                                        <i class="fas fa-play tm-overlay-icon"></i>
                                    </a>
                                </div>    
                                <div class="p-4 tm-bg-gray tm-catalog-item-description">
                                    <h3 class="tm-text-primary mb-3 tm-catalog-item-title"><%=photo.fileTitle%></h3>
                                    <p class="tm-catalog-item-text">
                                        <%=photo.fileDescription%>
                                    </p>
                                </div>
                            </div>
                            <%}%>
					</div>
                    <div class="text-center">
						<button class="btn btn-primary mb-4 " data-toggle="modal" data-target="#exampleModal"><span>Add
								Photo</span></button>
					</div>
				</main>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalLabel">Picture Upload Form</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/photos/create" id="fileForm" method="post" enctype="multipart/form-data">
                            <div class="modal-body">

                                <div class="form-group mt-4">
                                    <div class="col-12">
                                        <input type="text" class="form-control" name="fileTitle" id="fileTitle" placeholder="Picture Title">
                                    </div>
                                    <div class="col-12">
                                        <div style="display:none;" class="alert alert-danger" id="errorFileTitle"></div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="col-12">
                                        <textarea name="fileDescription" class="form-control" placeholder="Açıklama" id="fileDescription" cols="51" rows="3"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <div style="display:none;" class="alert alert-danger" id="errorFileDescription"></div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="inputFile"></label>
                                    <input type="file" class="form-control-file ml-4" name="image" id="imagePhoto">
                                    <div class="col-12">
                                        <div style="display:none;" class="alert alert-danger" id="errorImagePhoto"></div>
                                    </div>
                                </div> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary tm-btn-small" data-dismiss="modal">İptal</button>
                                <button type="submit" class="btn btn-primary tm-btn-small" > Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
				<!-- Subscribe form and footer links -->
              <%- include('partials/footer.ejs');%>
              <script>
                const form = document.querySelector('#fileForm')
                const errorFileTitle = document.querySelector('#errorFileTitle')
                const errorFileDescription = document.querySelector('#errorFileDescription')
                form.addEventListener("submit", async (e) => {
                   e.preventDefault();
                   errorFileTitle.textContent = "";
                   errorFileDescription.textContent = "";
                   errorFileTitle.style.display = "none"
                   errorFileDescription.style.display = "none"
                 
                   const fileTitle = form.fileTitle.value
                   const fileDescription = form.fileDescription.value
            
                   
                   try {
                      const res = await fetch('photos/create', {
                         method: "POST",
                         body: JSON.stringify({ fileTitle, fileDescription}),
                         headers: { "Content-Type": "application/json" }
                      })
                      const data = await res.json();  
                      if(data.photo){
                        window.location.replace('photos.ejs');
                        window.location.
                    }
                      if (!data.photo) 
                      {
                        if (data.errorMessage.fileTitle) {
                            errorFileTitle.textContent = data.errorMessage.fileTitle.message
                            errorFileTitle.style.display = "block"
                         }
                         
                         if ( data.errorMessage.fileDescription) {
                            errorFileDescription.textContent = data.errorMessage.fileDescription.message
                            errorFileDescription.style.display = "block"
                         }
                    }

                   } 
                   catch (err) {
                      console.log("ERROR register :", err.name);
                      
                   }
                   
                })
               
             </script>
